.translation__chat_form_text_name {
    display: flex;
    gap: 10px;
}

.translation__chat_form_text_name p {
    color: #999999;
    text-decoration: none;
}

#translation__chat_form_text_name_change:hover {
    color: #FFFFFF;
}