.form__fields_auth p {
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #222222;
    margin: 0px;
    margin-top:-4px;
}

.form__fields_auth {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#form__fields_auth_other {
    margin-top: 10px;
}